{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Chercheurs - Labcom AIOLY" %}{% endblock %}

{% block content %}
<div class="container main-content">
    <h1>{% trans "Nos Chercheuses et Chercheurs" %}</h1>
    <p>{% trans "Découvrez les membres de notre équipe de recherche de part et d'autres du Labcom." %}</p>

    <div class="chercheurs-groupes">
        <!-- Colonne INRAE -->
        <div class="groupe">
            <h2>{% trans "INRAE" %}</h2>
            {% for key, chercheur in chercheurs.items %}
                {% if chercheur.Etablissement == 'INRAE' %}
                    <div class="profile">
                        <a href="/{{ LANGUAGE_CODE }}/chercheurs/{{ key }}/">
                            <img src="{% static 'Images/'|add:chercheur.Image_path %}" alt="{{ chercheur.Nom }}">
                        </a>
                        <div>
                            <h3>{{chercheur.Prenom}} {{chercheur.Nom}}</h3>
                            <p>{{chercheur.Description }}</p>
                            <a href="/{{ LANGUAGE_CODE }}/chercheurs/{{ key }}/">{% trans "Voir plus" %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Colonne Pellenc ST -->
        <div class="groupe">
            <h2>{% trans "Pellenc ST" %}</h2>
            {% for key, chercheur in chercheurs.items %}
                {% if chercheur.Etablissement == 'PST' %}
                    <div class="profile">
                        <a href="/{{ LANGUAGE_CODE }}/chercheurs/{{ key }}/">
                            <img src="{% static 'Images/'|add:chercheur.Image_path %}" alt="{{ chercheur.Nom }}">
                        </a>
                        <div>
                            <h3>{{chercheur.Prenom}} {{chercheur.Nom}}</h3>
                            <p>{{chercheur.Description }}</p>
                            <a href="/{{ LANGUAGE_CODE }}/chercheurs/{{ key }}/">{% trans "Voir plus" %}</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
